{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/auth.css') }}">
{% endblock %}
{% block body %}
    <div class="container form-container">
        <div class="test-blur"></div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger">
                <ul class="list-unstyled mb-0">
                    <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                        <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </li>
                </ul>
            </div>
        {% endif %}

        {{ form_start(form) }}

        {{ form_label (form._username, 'EMAIL') }}
        {{ form_widget (form._username, {'attr': {'placeholder': 'example@mail.fr'}}) }}

        {{ form_widget(form) }}
        {{ form_end(form) }}

{#
        {{form(form)}}
#}

        <form action="{{ path('app_index') }}">
            <button type="submit" class="btn btn-custom btn-block">Retour à la page d'accueil</button>
        </form>
    <!-- End container -->
    </div>
{% endblock %}