{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/badges-type.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="mt-3 alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>


    <header class="header">
        <div class="container search-bar mt-5">
            <h1>Bienvenue sur adopeUnPokemon.com !</h1>
            <p class="ads-count">Actuellement {{ ads|length }} annonces en ligne</p>
        <h2 class="mb-4 main-title"><i class="fas fa-search"></i> RECHERCHER UN POKEMON</h2>

            {{ form_start(form, {'action': path('search_results')}) }}

        {{ form_end(form) }}
        </div>

        <h3 class="text-center scroll-link">Les annonces en ligne <br />
            <a href="#" id="button-scroll"><i class="fas fa-arrow-down"></i></a>
        </h3>

    </header>
    <div class="container">



        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

        <section class="actual-ad pt-5 pb-5">
        <div class="container">
        <h2 class="mb-4 main-title" id="scroll-target">EN VENTE ACTUELLEMENT</h2>
            <h3 class="mt-2">Nos dernières annonces ! <br> Pour en voir plus, rendez-vous <a href="{{ path('ad_index') }}">ici</a>.</h3>

        <div class="row cards-bloc">
        {% for ad in lastAds %}
            {% include 'cards-template.html.twig' %}
        {% endfor %}
        </div>
        </div>
        </section>

    <div class="container">
        <div class="row">


        </div>
    </div>

    <hr>




{% endblock %}
