{% extends 'base.html.twig' %}

{% block title %}Edit Ad{% endblock %}

{% block body %}
    <div class="banner">

    </div>

    <div class="container">
            <h1 class="mt-5 mb-3 text-uppercase">Modifier mon annonce</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Mettre à jour" class="btn btn-primary mt-4">
            {{ form_end(form) }}


            <a href="{{ path('ad_index') }}" class="btn btn-outline-primary mt-5">Revenir à la liste des annonces</a>
            <a href="{{ path('app_ads_on_sell') }}" class="btn btn-outline-primary mt-5">Mes annonces</a>

            {{ include('ad/_delete_form.html.twig') }}


    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/ajax.js') }}"></script>
{% endblock %}
