{% extends 'base.html.twig' %}

{% block title %}New Ad{% endblock %}

{% block body %}
    <h1>Create new Ad</h1>

    {{ dump(form) }}
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isSold) }}
    {{ form_row(form.image) }}
    {{ form_row(form.user) }}
    {{ form_row(form.location) }}
    {{ form_row(form.category) }}

    {{ form_row(form.pokemon) }}
    <ul id="autocomplete"></ul>

    {{ form_row(form.submit) }}

    {{ form_end(form) }}



    <a href="{{ path('ad_index') }}">back to list</a>
{% endblock %}

