{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if ad.isSold %}
            <h1 class="mt-4">{{ ad.title }}</h1>
            <h2>Désolé, ce pokémon n'est plus à vendre</h2>
        {% else %}
            <h1 class="mt-4">{{ ad.title }}</h1>

            <img src="{{ ad.pokemon.image }}" alt="{{ ad.pokemon.name }}">
            <h2>Description</h2>
            <p>{{ ad.description }}</p>

            <h2>Caractéristiques</h2>
            <ul>
                <li>{{ ad.pokemon.name }}</li>
                <li>{{ ad.pokemon.height }}</li>
                <li>{{ ad.pokemon.weight }}</li>
                <li>{{ ad.pokemon.type }}</li>
                <li>{{ ad.pokemon.ability }}</li>
            </ul>
            <p></p>

            <h2>Contacter le vendeur</h2>

        {% endif %}

        <a href="{{ path('ad_index') }}" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}