{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mt-4">
            <h1 class="text-uppercase">Mon espace membre</h1>
        </div>


        <div class="mt-5">
            <h2 class="main-title text-uppercase">Mes pokémon en vente</h2>
        </div>
        <ul class="mt-3 list-group">
        {% for ad in user.ads %}
            <a class="list-group-item list-group-item-action"
               href="{{ path('ad_show', {'id': ad.id}) }}">
                <span class="font-weight-bold">{{ ad.pokemon.name|upper }}</span> - <span class="badge badge-primary badge-custom">{{ ad.price }}€</span>
            </a>
        {% endfor %}
        </ul>

        <div class="mt-5">
            <h2 class="main-title text-uppercase">Mes pokémon vendus</h2>
        </div>

        <div class="mt-5">
            <h2 class="main-title text-uppercase">Mes informations personnelles</h2>
        </div>

        <ul class="mt-3">
            <li>Nom : {{ user.firstName }}</li>
            <li>Prénom : {{ user.lastName }}</li>
            <li>Pseudo : {{ user.nickName }}</li>
            <li>E-mail : {{ user.email }}</li>
            <li>Nombre d'annonces en vente : {{ user.ads|length }}</li>
        </ul>



    </div>
{% endblock %}